In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("datasets/loan-eligibility.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
df.isna().sum().sum()

149

In [12]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer, KNNImputer

In [14]:
imp_dep = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0)

In [16]:
df.iloc[:, 3:4] = imp_dep.fit_transform(df.iloc[:, 3:4])

In [24]:
imp_G_M_S = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [35]:
df.iloc[:, [1,2,5]] = imp_G_M_S.fit_transform(df.iloc[:, [1,2,5]])

In [36]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [37]:
imp_L_LT_C = SimpleImputer(missing_values=np.nan, strategy='mean')

In [38]:
df.iloc[:,[8,9,10]] = imp_L_LT_C.fit_transform(df.iloc[:,[8,9,10]])

In [39]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

### Column transformer

In [42]:
df = pd.read_csv('datasets/loan-eligibility.csv')

In [43]:
df1 = df.copy()

In [45]:
from sklearn.compose import ColumnTransformer

In [46]:
imp_dep = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0)
imp_G_M_S = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp_L_LT_C = SimpleImputer(missing_values=np.nan, strategy='mean')

im_column_transformer = ColumnTransformer([
                                            ('tr_dep', imp_dep, [3]),
                                            ('tr_G_M_S', imp_G_M_S, [1,2,5]),
                                            ('tr_L_LT_C', imp_L_LT_C, [8,9,10])
                                            ],
                                            remainder='passthrough')

In [47]:
result_arr = im_column_transformer.fit_transform(df1)

In [50]:
df2 = df.copy()

### KNNImputor

In [52]:
imp_knn = KNNImputer(missing_values=np.nan, n_neighbors=2)

In [63]:
df_imp = df2.iloc[:, [8,9,10]]

In [64]:
result_arr = imp_knn.fit_transform(df_imp)

In [66]:
from sklearn.impute import enable_iterative_imputer

ImportError: cannot import name 'enable_iterative_imputer' from 'sklearn.impute' (C:\Users\Awais Nayyar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\impute\__init__.py)